header {
    background-color: white;
    padding: 10px;
    top: 0;
    left: 0;
    z-index: 1000; 
    width: 100%;
}
.photobg{
    width: 100%; 
    height: 40rem; 
    display: flex; 
    background-image: url("../images/header.jpg");
    justify-content: center; 
    align-items: center; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
   
}
.photobg4{
    width: 100%;  
    display: flex; 
    flex-direction: column;
    background-image: url("../images/header.jpg");
    justify-content: center; 
    align-items: center; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
   
}
.bgc{
    background-color: rgba(0, 0, 0, 0.5);
    height: inherit;
    width: inherit;
    position: absolute;
}
.photobg4::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.9);
    height: inherit;
    width: inherit;
    position: absolute;
    /* z-index: 10; */
}
.photobg3::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.9);
    height: inherit;
    width: inherit;
    position: absolute;

}


@media (max-width:768px) {
    .photobg{
        height: 60rem;
        width: 100%;

    }
    
}

#menu-toggle:checked + label + #mobile-menu {
    display: flex;
}
#mobile-menu {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
#mobile-menu a {
    padding: 10px 20px;
    text-decoration: none;
    color: gray;
    display: block;
}
#mobile-menu a:hover {
    background-color: #ff214f;
    color: white;
}

.icon-size {
    font-size: 2rem; 
    margin-left: 10px; 
    display: inline-block; 
    margin: 5% 0;
    color: #495057;
    opacity: 20%;
    border:1px solid #495057;
    border-radius: 3.2PX;
    padding : 6px 12px; 
}


.photobg2{
    width: 100%; 
    height: 100%; 
    display: flex; 
    background-image: url("../images/about.jpg");
    justify-content: center; 
    align-items: center; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.photobg3{
    width: 100%; 
    height: 25rem; 
    display: flex; 
    background-image: url("../images/about.jpg");
    justify-content: center; 
    align-items: center; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}


  .overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}


.video-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    transform: scale(0.7);
    transition: transform 0.3s ease-in-out;
}

.overlay.active .video-container {
    transform: scale(1);
}


.close-btn {
    position: absolute;
    top: -40px;
    right: -40px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
    transition: transform 0.3s ease;
}

.close-btn:hover {
    transform: scale(1.1);
}


.video-container iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}